<p id="alert"><%= alert %></p>
<% provide(:title, "Log in") %>
<h1>Log in</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_tag sesiones_path do |form| %>
    <div class="field">
        <%= label_tag :mail %>
        <%= text_field_tag :mail %>
    </div>
    <div class="field">
        <%= label_tag :password %>
        <%= password_field_tag :password %>
    </div>
    <div class="actions">
        <%= submit_tag "Login" %>
    </div>
    <% end %>
  </div>
</div>
